@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade

@* Make sure all users have the 2sxc JS API *@
@Kit.Page.Activate("2sxc.JsCore")

<script>
  const demoQuery = {
    moduleId: @MyContext.Module.Id,
    outputId: "query-select-output-@UniqueKey",
    query: "ODataAuthors"
  };
  const demoSelect = {
    moduleId: @MyContext.Module.Id,
    outputId: "query-select-output-@UniqueKey",
    query: "ODataAuthors",
    '$select': 'FirstName,LastName,Birthday'
  };
</script>

<button type="button" class="btn btn-primary"
  onclick="window.tutQueryOdata.load(demoQuery)">
  ODataAuthors.Default (without OData)
</button>

<button type="button" class="btn btn-primary"
  onclick="window.tutQueryOdata.load({...demoQuery, stream: 'Sorted'})">
  ODataAuthors.Sorted (without OData)
</button>

<button type="button" class="btn btn-primary"
  onclick="window.tutQueryOdata.load(demoSelect)">
  ODataAuthors.Default with $select
</button>

<button type="button" class="btn btn-primary"
  onclick="window.tutQueryOdata.load({...demoSelect, stream: 'Sorted'})">
  ODataAuthors.Sorted with $select
</button>

<div style="overflow-x:auto;" id="query-select-output-@UniqueKey">
  <code></code>
  <br />
  <table style="width:100%; border-collapse:collapse;" class="table">
    <thead></thead>
    <tbody></tbody>
  </table>
</div>

<script src="@App.Folder.Url/tutorials/js-data/js/get-query-odata.js" @Kit.Page.AssetAttributes()></script>